html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
}


.content{
	width: 100%;
	height: 100%;
}

.stage{
	position: relative;
	width: 100%;
	height: 680px;
}
.img-sec{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ddd
}
.controller-nav{
	position: absolute;
	bottom: 30px;
	left: 0;
	z-index: 101;
	width: 100%;
	text-align: center;
}

.img-figure {
	width: 400px;
	height: 600px;
	margin: 0;
	padding: 40px;
	position: absolute;
	box-sizing: border-box;
	background-color: #fff;
}
.img-figure figcaption{
	text-align: center;
}
.img-figure .img-title{
	margin-top: 20px;
	color: #333;
	font-size: 16px;
}